.card[data-suit="hearts"][data-face="up"] {
    background-image: url("../images/h.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-size: cover; */
   
}

.card[data-suit="spades"][data-face="up"] {
    background-image: url("../images/s.jpg");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card[data-suit="clubs"][data-face="up"] {
    background-image: url("../images/c.jpg");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card[data-suit="diamonds"][data-face="up"] {
    background-image: url("../images/d.jpg");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.card[data-face="down"] {
    background-image: url("../images/back4.jpg");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.card[data-face="down"] > .bottom {
    visibility: hidden;
}

.card[data-face="down"] > .value {
    visibility: hidden;
}

.card {
    height: 252px;
    width: 180px;
    display: block;
    position: relative;
    float: left;
    margin: 20px;
}

#stock, 
#waste,
#holder,
#foundation1,
#foundation2,
#foundation3,
#foundation4,
#tableau1,
#tableau2,
#tableau3,
#tableau4,
#tableau5,
#tableau6,
#tableau7 {
    /* height: 252px;
    width: 180px;
    display: block; */
    float: left;
    font-size: 30px;
    /* background-color: blueviolet; */
    /* margin: 15px; */
}

#row1,
#row2 {
    display: flex;
    justify-content: space-around;
}

#row1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottom {
    -moz-transform:rotate(-180deg); /* Firefox */
    -webkit-transform:rotate(-180deg); /* Webkit */        
    -ms-transform:rotate(-180deg); /* IE */
    -o-transform:rotate(-180deg); /* Opera */
    transform:rotate(-180deg); /* future */
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 0px;
    left: 130px;
    text-align: right;
}

.value {
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 13px;
    color: white;
    background-color: red
}

